[default]
region=[[ aws_region ]]
credential_process = aws_signing_helper credential-process --certificate /root/certificates/device.pem --private-key /root/certificates/device-key.pem --trust-anchor-arn [[ iam_any_trust_anchor_arn ]] --profile-arn [[ iam_any_profile_arn ]] --role-arn [[ iam_any_role_arn ]]